{% extends 'core/base.html' %}

{% block title %}Portafolio{% endblock %}

{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Currículo</span>
{% endblock %}

{% block content %}
{% if projects %}
    {% for project in projects %}
        <!-- Proyecto -->
        <div >
            <div >
                <img  src="{{project.image.url}}" alt="">
            </div>
            <div >
                <h2 >{{project.title}}</h2>   
                <p>{{project.description}}</p>
                {% if project.link %}
                    <p><a href="{{project.link}}">Más información</a></p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No hay proyectos que mostrar.</h1>
{% endif %}
{% endblock %}