{% extends 'core/base.html' %}
{% load static %}

{% block title %}Portafolio{% endblock %}

{% block background %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}
{% block styles %}    
<link href="{% static 'core/css/base_light.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'core/css/portafolio.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block headers %}
<h1>Portafolio</h1>
<span class="subheading">Currículo</span>
{% endblock %}

{% block content %}
<main> 
    <div>
        <h2>Proyectos</h2>
    </div>
    {% for project in projects %}
        <!-- Proyecto -->
        <section class="card">
            
            <img  src="{{project.image.url}}" alt="project image">
            
            <article class="card__text--container">
                <h2 >{{project.title}}</h2>   
                <p>{{project.description}}</p>
                {% if project.link %}
                    <p><a href="{{project.link}}">Ver acá</a></p>
                {% endif %}
            </article>
        </section>
    {% endfor %}
</main>
{% endblock %}