{% extends 'core/base.html' %}
{% load static %}

{% block title %}About-me{% endblock %}

{% block styles %}
<link href="{% static 'core/css/base_light.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'core/css/about-me.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<main>
    <section class="main__principal">
        <h2>Hola!</h2>
        <p>Soy desarrollador Full-Stack y Diseñador gráfico.</p>
    </section>
    <section class="main__about_me">
        <article>
            <h2>Acerca de mi.</h2>
            <p> Soy un Diseñador Gráfico apasionado por crear, que está incursionando en el mundo del desarrollo de software, que cuenta con conocimientos en retoque digital, branding, publicidad tradicional y modelado 3D.
Actualmente me estoy enfocado como desarrollador Fullstack, con lo cual estoy desarrollando mis habilidades como Frontend en HTML, CSS y JavaScript vanilla y en la parte de Backend tengo conocimiento en el desarrollo de API's con NodeJS y me encuentro desarrollando mis destrezas en el framework de Django con la creación de proyectos que puedes ver en mi github.
 </p>
        </article>
        <div>
            <img src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <article>
            <h2>Detalles</h2>
            <p><b>Nombre:</b><br>
                Anthony Stiven Luque Acevedo<br><br>
                <b>Edad:</b><br>
                28 años<br><br>
                <b>Ubicación:</b><br>
                Colombia, Facatativá - Cundinamarca. </p>
        </article>
    </section>
</main>
{% endblock %}
