{% extends 'core/base.html' %}
{% load static %}

{% block title %}About-me{% endblock %}

{% block styles %}    
<link href="{% static 'core/css/about-me.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div> 
    <div>
        <img src="{% static 'core/img/avatar.jpg' %}" alt="">
    </div>
    <div >
        <h2 >Anthony Luque</h2>   
        <p>Nacido en... lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit...</p>
    </div>
</div>
{% endblock %}