<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Mi super Blog</title>
    {% load static %}
    <link href="{% static 'core/css/estilos.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet"> 
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <div class="header__container">
            <a href="{% url 'home' %}" class="header__logo"></a>
            <ul id="menu" class="header__nav">
                <span onclick="menu()">X</span>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'about' %}">Quien soy</a></li>
                <li><a href="{% url 'portfolio' %}">Portafolio</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
            <div class="header__mobile">
                <span onclick="menu()"></span>
                <p onclick="menu()">Mi web personal</p>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="footer__icons">
            <a href="https://www.linkedin.com/in/anthonyluque/" class="footer__icons--all footer__icons--linkedin"></a>
            <a href="https://platzi.com/@tonyl/" class="footer__icons--all footer__icons--platzi"></a>
            <a href="https://github.com/TonyLuque" class="footer__icons--all footer__icons--github"></a>
        </div>
        <div class="footer__text">
            <p>Hecho con </p>
            <span class="footer__icons--hearth"></span>
        </div>
    </footer>
    <script>
        function menu(){
            if (document.getElementById("menu").style.display == "none" || document.getElementById("menu").style.display == ""){
                document.getElementById("menu").style.display = "flex";
            } else {
                document.getElementById("menu").style.display = "none";
            }
        }
    </script>
</body>
</html>
