{% extends 'core/base.html' %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block styles %}
<link href="{% static 'core/css/contacto.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<main>
    <section class="main__principal">
        <h2>Trabajemos juntos</h2>
    </section>
    <section class="contact">
        <div>
            <img src="{% static 'core/img/ilustracion_contacto.svg' %}" alt="">
        </div>
        <article class="contact__mail">
            <h2>Escribeme un correo</h2>
            <a href="mailto:kasuru@hotmail.com"><span class="contact__icon--mail"></span>kasuru@hotmail.com</a>
            <h2>Enviame un mensaje</h2>
            <a href="https://api.whatsapp.com/send?phone=+573232324036"><span class="contact__icon--whatsapp"></span>323 232 4036</a>
        </article>
    </section>
</main>
{% endblock %}