main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 130px;
    background-color: var(--white);
}

.main__principal, .main__about_me{           
    width: 85vw;
    max-width: 1295px;
}

.main__principal {
    text-align: center;
    border-bottom: 2px solid var(--violet);
}

.main__principal h2 {
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--orange);
}

.main__about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__about_me article h2 {
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--violet);
    margin-top: 3.8rem;
}

.main__about_me div {
    margin-top: 4.7rem;
    max-width: 30rem;
}

.main__about_me div img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1rem solid var(--orange);
}

.main__about_me article p b {
    font-weight: bold;
    color: var(--orange);
    line-height: 2.6rem;
}

main p {
    font-size: 1.6rem;
    color: var(--black_violet);
    margin-top: .7rem;
    margin-bottom: 1.4rem;
}

article {
    max-width: 40rem;
}

/* Tablet */
@media (min-width: 520px){

    .main__principal {
        padding-bottom: 1.5rem;
    }
    
    .main__principal h2 {
        font-size: 7rem;
    }

    main p {
        font-size: 2.5rem;
    }

}

@media (min-width: 1200px){
    .main__about_me {
        flex-direction: row;
        justify-content: space-between;
    }
}