header {
    background-color: var(--white);
}

.header__logo {
    background-image: url('../img/logo_dark.svg');
}

footer {
    background-color: var(--white);
}

.footer__icons--platzi {
    background-image: url('../img/platzi_dark.svg');
}

.footer__text p {
    color: var(--purpure);
    font-weight: medium;
}

@media (min-width: 1200px){
    .header__nav a {
        color: var(--purpure);
    }
}