:root {
    --black_violet: #14001E;
    --violet: #6F4A8E;
    --orange: #FFA372;
    --purple: #2C003E;
    --white: #F4F4F2;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif; 
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100vw;
    margin: 0 auto;
    background-color: var(--violet);
}

.header__container {
    display: inherit;
    justify-content: space-between;
    width: 85vw;
}

.header__logo {
    background-image: url('../img/logo.svg');
    height: 55.3px;
    width: 64.11px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__nav {
    position: fixed;
    display: none;/* Cambia a flex dinamicamente con JS*/
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    background-color: var(--violet);
    width: 100vw;
    height: 100vh;
    list-style: none;
    padding-bottom: 2rem;
    z-index: 1;
}

.header__nav span {
    margin-left: 80%;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
}

.header__nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--white);
    width: 60vw;
}

.header__nav a {
    font-size: 2.5rem;
    color: var(--white);
    margin: 2.5rem auto;
    outline: none;
}

.header__mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__mobile span {
    background-image: url('../img/menu.svg');
    width: 2.2rem;
    height: 2.2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__mobile p {
    color: var(--orange);
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.7rem;
    margin-top: 1rem;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 100%;
    background-color: var(--violet);
    position: fixed;
    bottom: 0;
}

.footer__icons {
    display: inherit;
    width: 20rem;
    justify-content: space-around;
}

.footer__icons--all {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__icons--linkedin {
    background-image: url('../img/linkedin.svg');
}

.footer__icons--platzi {
    background-image: url('../img/platzi.svg');
    height: 3.3rem;
}

.footer__icons--github {
    background-image: url('../img/github.svg');
}

.footer__text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.footer__text p {
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--white);
}

.footer__icons--hearth {
    background-image: url('../img/hearth.svg');
    width: 2.5rem;
    height: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1rem;
}

@media (min-width: 520px){
    header {
        height: 15rem;
    }

    .header__mobile p {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px){

    .header__nav {
        display: flex;
        position: relative;
        flex-direction: row;
        background-color: transparent;
        width: auto;
        height: auto;
        padding-bottom: 0;
        z-index: 0;
    }

    .header__nav span {
        display: none;
    }

    .header__nav li {
        width: auto;
        border-bottom: none;
        padding: 0 1rem;
    }

    .header__nav a {
        margin: auto;
    }

    .header__mobile span {
        display: none;
    }

    .header__mobile p {
        font-size: 3rem;
        margin: auto;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5%;
    }
}